@import "variable";

//noinspection CssUnknownTarget
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body, input{
  font-family: meiryo, 'Nanum Gothic', sans-serif;
  font-size: $font-default-size;
  text-size-adjust: none;
}

a{
  text-decoration: none;
  color: $color-txt-highlight;

  &:hover{
    color: #3d79e6;
    transition: 0.3s color;
  }
}

ol{
  list-style: decimal;
  padding-left: 20px;
}
p{
  margin-bottom: 30px;
}

figure{
}

b, strong{
  font-weight: 900;
}

[hidden]{
  display: none!important;
}

