@import "variable";

//noinspection CssUnknownTarget
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body{
  font-family: meiryo, 'Nanum Gothic', 'dotum', sans-serif;
  font-size: $font-default-size;
  height: 100%;
}

a{
  text-decoration: none;
  color: $color-txt-highlight;

  &:hover{
    color: #3d79e6;
    transition: 0.3s color;
  }
}

ol{
  list-style: decimal inside;
}

p{
  margin-bottom: 30px;
}

figure{
  text-align: center;
}

strong{
  font-weight: 900;
}

@function assets-img($path){
  @return '/assets/image/' + $path
}
