@import "variable";
@import "helper";

.article{
  color: #4c4c4c;
  line-height: 2em;
  word-break: break-all;
  margin-bottom: 80px; // if more complexes, converts to element

  &:last-child{
    margin-bottom: 0;
  }

  &__title{
    font-size: 26px;
    font-weight: 700;
    color: #404040;
    border-bottom: 1px solid #d8d8d8;
    line-height: 1em;
    padding-bottom: 12px;
    margin-bottom: 20px;

    &--lg{
      font-size: 32px;
    }
  }

  &__subtitle{
    font-size: 20px;
    font-weight: 700;
    color: #404040;
    border-bottom: 1px solid #d8d8d8;
    line-height: 1em;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}

.sidebox{
  background: #f6f6f7;
  padding: 15px 60px;
  margin: 30px 0;
  border-radius: 3px;

  &::before{
    content: " ";
    background-image: url(assets-img('sidebox-icons.png'));
    width: 30px; height: 30px;
    display: inline-block;
    position: absolute; margin-left: -40px;
  }

  &--caution{
    &::before{
      background-position: 0 0;
    }
  }

  &--tip{
    &::before{
      background-position: -30px 0;
    }
  }

  &--warn{
    background: #ffeaef;
    &::before{
      background-position: 0 -30px;
    }
  }
}

.download-links{
  display: flex;
  flex-wrap: wrap;

  &__link{
    width: calc(50% - 5px); // for ie10
    padding-bottom: 10px;

    &:nth-child(odd){
      padding-right: 5px;
    }
    &:nth-child(even){
      padding-left: 5px;
    }
  }

  &__btn{
    width: 100%;
  }
}

.download-btn{
  $active: $color-txt-highlight;
  color: $active;
  border: 1px solid #d8d8d8;
  display: inline-block;
  border-radius: 5px;
  padding: 12px (15px + 20px) 12px 20px;
  box-sizing: border-box;
  background: white url(assets-img('download.png')) no-repeat;
  background-position: calc(100% - 20px) center; // for ie
  box-shadow: 1px 1px 1px #eee;

  &:hover{
    color: $active;
    border-color: $active;
    transition: 0.5s border;
  }
}

.article-figure{
  &__label{
    font-weight: 800;
    margin-right: 20px;
  }

  &__img{
    max-width: 100%;
  }
}
