$i:1;

@while $i <= 10 {
  .mb-#{$i*10} {
    margin-bottom: #{$i*10}px;
  }
  $i: $i + 1;
}

.list-style-vbar{
  & > li{
    &:before {
      content: '- ';
      margin-right: 5px;
    }
  }
}

.font-bold{ font-weight: 700; }
.leading-zero{ line-height: 0 }
